<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="container">
    <div class="layout bg-main">
      <div class="menu">
        <a href="#" class="logo">
          <img src="./assets/images/logo-ANSWER.svg" alt="logo">
        </a>
        <ul class="menu-list">
          <li>
            <a href="#" class="font-primary lato-bold">
              <span class="material-icons">
                poll
              </span>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="font-primary lato-bold">
              <span class="material-icons">
                question_answer
              </span>
              Question
            </a>
          </li>
          <li>
            <a href="index.html" class="font-primary lato-bold">
              <span class="material-icons">
                assignment
              </span>
              Assignment
            </a>
          </li>
          <li>
            <a href="#" class="font-primary lato-bold">
              <span class="material-icons">
                video_library
              </span>
              Course
            </a>
          </li>
          <li>
            <a href="admin.html" class="font-primary lato-bold">
              <span class="material-icons">
                supervisor_account
              </span>
              Admin
            </a>
          </li>
          <li>
            <a href="#" class="font-primary lato-bold">
              <span class="material-icons">
                settings
              </span>
              Settings
            </a>
          </li>
        </ul>
      </div>
      <div class="user">
        <img src="./assets/images/andychen.jpeg" alt="" class="avatar">
        <div class="user-info">
          <p class="username font-primary lato-bold">Andy Chen</p>
          <p class="font-secondary lato-regular text-secondary">andy0401@mail.com</p>
        </div>
      </div>
    </div>
  
    <%- contents %>
  </div>

  
  <script src="./assets/js/vendors.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
