html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.font-primary {
  font-size: 1rem;
  line-height: 24px; }

.font-secondary {
  font-size: 0.875rem;
  line-height: 15px; }

.roboto-mono-regular {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; }

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

.text-secondary {
  color: #0000009A; }

.text-keypoint {
  color: #2A8356; }

.bg-main {
  background-color: #EDF4EE; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  padding: 32px 0 32px; }

.menu {
  width: 100%; }
  .menu li {
    margin-bottom: 26px; }
    .menu li:nth-child(1) {
      margin-bottom: 32px;
      padding-left: 32px; }
  .menu a {
    color: #121212;
    text-decoration: none;
    display: block;
    padding-left: 32px; }
    .menu a:hover {
      color: #2A8356;
      background-color: #cde1d0; }
  .menu span {
    vertical-align: middle;
    margin-right: 16px; }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 32px; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px; }

.assignment {
  width: 75%;
  padding: 32px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px; }
  header h2 {
    font-size: 24px;
    line-height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header h2 select {
      margin-left: 46px;
      border: none; }
  header span {
    margin-left: 7px; }

.comment-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .comment-quantity select {
    border: none; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.comment-mission {
  width: 35%;
  margin-right: 16px; }
  .comment-mission li {
    border: 1px solid #CDDDCD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px; }

.mission-name p:nth-child(2) {
  margin-top: 4px; }

.mission-info p:nth-child(2) {
  margin-top: 8px; }

.comment-detail {
  width: 63%;
  position: relative; }

.comment-content {
  border: 1px solid #CDDDCD;
  margin-bottom: 16px; }
  .comment-content .mission-name {
    padding: 12px 16px;
    border-bottom: 1px solid #CDDDCD; }
  .comment-content .mission-detail {
    padding: 16px 32px 16px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .comment-content .mission-detail li {
      margin-bottom: 16px; }
      .comment-content .mission-detail li:nth-child(1) {
        margin-bottom: 0; }
      .comment-content .mission-detail li:nth-last-child(1) {
        margin-bottom: 0; }
    .comment-content .mission-detail:nth-child(2) {
      padding-bottom: 0; }
      .comment-content .mission-detail:nth-child(2) ul {
        padding-bottom: 16px;
        border-bottom: 1px solid #CDDDCD; }
  .comment-content .mission-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .comment-content .icons span {
    margin-left: 24px; }
  .comment-content .download-btn {
    display: inline-block;
    border: 1px solid #CDDDCD;
    margin-bottom: 0; }
    .comment-content .download-btn a {
      text-decoration: none;
      color: #000;
      display: block;
      padding: 8px 12px; }
    .comment-content .download-btn span {
      vertical-align: middle; }
    .comment-content .download-btn p {
      display: inline-block; }

.comment-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.next-icons {
  padding: 0 5px; }
  .next-icons a {
    width: 8px;
    height: 8px;
    margin-right: 23px;
    text-decoration: none;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
    .next-icons a:nth-child(1) {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000; }
    .next-icons a:nth-child(2) {
      border-right: 1px solid #000;
      border-top: 1px solid #000; }

button {
  margin-left: 16px; }
  button:focus {
    outline: 0; }

.btn-reply {
  border: none;
  background-color: #2A8356;
  color: #fff;
  padding: 8px 32px;
  cursor: pointer; }

.custom {
  width: 526.5px;
  height: 285px;
  border: 1px solid #CDDDCD;
  position: absolute;
  bottom: 0;
  right: 0; }
  .custom a {
    color: #000;
    text-decoration: none; }
  .custom textarea {
    resize: none; }

.dropdown button {
  border: none;
  background-color: transparent; }

.admin {
  width: 75%;
  padding: 32px; }
  .admin header p {
    cursor: pointer; }
    .admin header p:hover {
      color: #2A8356; }

table {
  width: 100%;
  margin-bottom: 63px; }
  table tr:hover {
    background-color: #EDF4EE; }
  table tr:nth-child(1):hover {
    cursor: initial;
    background-color: #fff; }
  table th {
    border-bottom: 1px solid; }
  table td {
    padding: 18px 0 18px;
    border-bottom: 1px solid #CDDDCD; }
    table td span {
      cursor: pointer; }
      table td span:hover {
        color: #2A8356; }

.pagination a {
  color: #000;
  text-decoration: none; }

.card-img {
  width: 141px;
  height: 141px; }

/*# sourceMappingURL=all.css.map */
